# Output and input files used for testing
output/concordance.html
input/concordance.odt
combined_output/combined_quen_output.aux
combined_output/combined_quen_output.log
combined_output/combined_quen_output.tex
.env
combined_output/combined_deepseek_output.log
combined_output/combined_deepseek_output.aux
combined_output/combined_deepseek_output.tex
output/pages_*.jpg
